test.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
           xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
           elementFormDefault="qualified">
  <xs:element name="Security">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UsernameToken" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Username" type="xs:string" minOccurs="1"/>
              <xs:element name="Password" type="xs:string" minOccurs="1"/>
            </xs:sequence>
            <xs:anyAttribute processContents="skip"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
